#side-menu .mainHeader {
	background-color:#fff;
	color:#4a4a4a;
}

#side-menu .mainHeader .ion-navicon , .mainHeader .ion-ios-heart, .mainHeader .ion-android-search{
	color:#4a4a4a;
}


#side-menu .mainHeader .location {
	font-size:10em;
	color:#4B4A4B;
}

#side-menu .mainHeader .location-name{
	line-height: 35px;
}

#side-menu .mainHeader .location .loc{
	font-size:0.8em;
	display:block;
	line-height:10px;
}

#side-menu .mainHeader .location .break {
	display:block;
	line-height:20px;
	font-size:0.9em;
	font-weight: 600;
}
#side-menu div.title.title-left.header-item {
    top: 10px;
    left:30px !important;
}

#side-menu .pink {
	color:#ff8683;
}

#side-menu .side-menu-header {
	background-color:#fff;

}

#side-menu .side-menu-header h1 {
	color:#444;
}
