<ion-view class="project-search" cache-view="false">
   <ion-header-bar class="bar-light" align-title="center">
        <button class="icon ion-chevron-left button button-light" ng-click="goBack()"></button>
        <h1 class="title">Search Projects</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <div class="bar item-input-inset" id="searchProjectBar">
            <label class="item-input-wrapper" id="projectSearchLabel">
                <input type="search" placeholder="Search project" ng-model="proj.query">
                <i class="icon ion-android-search placeholder-icon" style="font-size:1.7em;"></i>
            </label>
        </div>
        <div class="list card project-search-list" ng-repeat="project in projects| filter:proj.query" ng-click="selectProject(project)">
            <div class="item">
                <h2>{{project.projectName}}</h2>
                <p>{{project.projectDetails.address.landmark}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
