<ion-view>
<ion-content>
 <button class="button button-positive item-icon-top" ng-click="whatsappShare()">
          <i class="icon ion-social-whatsapp"></i>

        </button>
        <button class="button button-positive item-icon-top" ng-click="twitterShare()">
          <i class="icon ion-social-twitter"></i>

        </button>
        <button class="button button-positive item-icon-top" ng-click="OtherShare()">
          <i class="icon ion-android-share-alt"></i>

        </button>
</ion-content>
</ion-view>