<ion-view class="projectDetails-view" title="Reviews">
   <data ng-include="'templates/project-details/header.html'"></data>
   <ion-content class="has-header project-details reviews-content">
      <div class="list">
         <div 
           ng-if="!percentageReview.projectRating && !isParameters && !isCloseBy && !isRecommendedFor && !projectReview" 
           class="item with-header">
           No Reviews Yet
         </div>
         <div ng-if="percentageReview.projectRating" class="item-divider c-item-divider"></div>
         <div ng-if="percentageReview.projectRating" class="header">
            <p>Rating</p>
         </div>
         <div ng-if="percentageReview.projectRating" class="item with-header rating-item">
            <div ng-if="percentageReview.reviews" class="rating-reviews">
               <p>({{percentageReview.reviews}} reviews)</p>
            </div>
            <div class="row">
               <div class="col" ng-repeat="item in [0,1,2,3,4,5,6,7,8,9] track by $index">
                  <i ng-if="$index < percentageReview.projectRating" class="icon ion-record"></i>
                  <i ng-if="$index >= percentageReview.projectRating" class="icon ion-ios-circle-outline"></i>
               </div>
               <p>{{percentageReview.projectRating | number: 1}}</p>
            </div>
         </div>
         <div ng-if="isParameters" class="item-divider c-item-divider"></div>
         <div ng-if="isParameters" class="header">
            <p>Parameters</p>
         </div>
         <div ng-if="isParameters" class="item with-header progress-bar">
            <div class="row">
               <div class="col">
                  <span>Security</span>
                  <span>Open & Green Areas</span>
                  <span>Maintainence</span>
                  <span>Shops & Services</span>
                  <span>Club House & Sports Facilities</span>
               </div>
               <div class="col col-25 progress">
                  <progress max="100" value="{{percentageReview.parameters.security}}"></progress>
                  <progress max="100" value="{{percentageReview.parameters.openAndGreenArea}}"></progress>
                  <progress max="100" value="{{percentageReview.parameters.consQualAndMaintenance}}"></progress>
                  <progress max="100" value="{{percentageReview.parameters.shopsAndServicesInCommunity}}"></progress>
                  <progress max="100" value="{{percentageReview.parameters.clubhouseSportsActivities}}"></progress>
               </div>
               <div class="col col-10">
                  <span>{{percentageReview.parameters.security}}%</span>
                  <span>{{percentageReview.parameters.openAndGreenArea}}%</span>
                  <span>{{percentageReview.parameters.consQualAndMaintenance}}%</span>
                  <span>{{percentageReview.parameters.shopsAndServicesInCommunity}}%</span>
                  <span>{{percentageReview.parameters.clubhouseSportsActivities}}%</span>
               </div>
            </div>
         </div>
         <div ng-if="isCloseBy" class="item-divider c-item-divider"></div>
         <div ng-if="isCloseBy" class="header">
            <p>Close By</p>
         </div>
         <div ng-if="isCloseBy" class="item with-header progress-bar">
            <div class="row">
               <div ng-repeat="(key, value) in percentageReview.closeBy" class="col">
                  <img class="c-icon" ng-src="icons/{{key}}_color.png" alt="">
                  <p>{{key | camelCaseToHuman}}</p>
                  <p>{{value}}%</p>
               </div>
            </div>
         </div>
         <div ng-if="isRecommendedFor" class="item-divider c-item-divider"></div>
         <div ng-if="isRecommendedFor" class="header">
            <p>Recommended For</p>
         </div>
         <div ng-if="isRecommendedFor" class="item with-header progress-bar">
            <div class="row">
               <div ng-repeat="(key, value) in percentageReview.recommendedFor" class="col">
                  <img ng-src="icons/{{key}}_color.png" class="c-icon-h" alt="">
                  <p>{{key | camelCaseToHuman}}</p>
                  <p>{{value}}%</p>
               </div>
            </div>
         </div>
         <div class="item-divider c-item-divider"></div>
         <div 
            ng-if="percentageReview.convenientlyLocated !=0 && percentageReview.publicTransportAccessible !=0" 
            class="item indexes-item">
            <div class="col">
              <div ng-if="percentageReview.convenientlyLocated !=0" class="row">
                  <div class="col">
                    <div
                      round-progress
                      max="100"
                      current="percentageReview.convenientlyLocated"
                      color="#1D607D"
                      bgcolor="#eaeaea"
                      radius="50"
                      stroke="5"
                      semi="false"
                      rounded="true"
                      clockwise="true"
                      responsive="false"
                      animation="easeInOutQuart"></div>
                    <span>{{percentageReview.convenientlyLocated}}%</span>
                  </div>
                  <div class="col">
                    <p>Conviniently Located</p>
                  </div>
              </div>
              <div ng-if="percentageReview.publicTransportAccessible !=0" class="row">
                  <div class="col">
                    <div
                      round-progress
                      max="100"
                      current="percentageReview.publicTransportAccessible"
                      color="#1A9F48"
                      bgcolor="#eaeaea"
                      radius="50"
                      stroke="5"
                      semi="false"
                      rounded="true"
                      clockwise="true"
                      responsive="false"
                      animation="easeInOutQuart"></div>
                    <span>{{percentageReview.publicTransportAccessible}}%</span>
                  </div>
                  <div class="col">
                    <p>Easy Access To Public Transport</p>
                  </div>
              </div>
            </div>
         </div>
          <div class="item-divider c-item-divider"></div>
          <div class="item pricing-review" ng-repeat="review in projectReview">
              <div class="row">
                <!--<div class="col col-10">
                    <img ng-if="review.profileUrl" class="image-override" ng-src="{{review.profileUrl}}" alt="">
                    <img ng-if="!review.profileUrl" class="image-override" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y" alt="">
                </div>-->
                <!--<div class="col col-offset-25">-->
                <div class="col">
                    <h2>{{review.reviewTitle}}</h2>
                    <h4>{{review.customerName}}</h4>
                    <i>{{review.time | date: 'mediumDate'}}</i>
                    <span>
                    <div class="fix-flex-and-padding" ng-repeat="item in [0,1,2,3,4,5,6,7,8,9] track by $index">
                      <i ng-if="$index < review.projectRating" class="icon ion-record"></i>
                      <i ng-if="$index >= review.projectRating" class="icon ion-ios-circle-outline"></i>
                    </div>
                    </span>
                    <p id="projectReview-{{$index}}" ng-class="show[$index]" ng-init="showButton($index)">
                      {{review.projectReview}}
                    </p>
                    <div>
                      <a ng-class="showButton[$index]" ng-click="toggleShow($index)">
                        <i ng-if="show[$index] != 'visible'">Show More...</i>
                        <i ng-if="show[$index] === 'visible'">Hide Review...</i>
                      </a>
                    </div>
                </div>
              </div>
              <div class="item-divider c-item-divider"></div>
          </div>
         <div class="item-divider c-item-divider"></div>
      </div>
   </ion-content>
</ion-view>
