<ion-view class="projectDetails-view" view-title="Pricing">
  <data ng-include="'templates/project-details/header.html'"></data>
  <ion-content class="has-header project-details pricing-content">
    <div class="list">
      <div class="item-divider c-item-divider"></div>
      <div class="header">
        <p>Pricing</p>
      </div>
      <div class="item with-header pricing" style="margin-bottom: 0px;">
        <div class="row buy-rent-toggle">
          <span class="block col col-50 col-offset-25">
            <span>Buy</span>
            <label class="toggle">
              <input ng-click="toggleBuy()" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
            <span>Rent</span>
          </span>
        </div>
      </div>
      <div class="item with-header pricing">
        <span>Property Type</span>
        <div class="frames" sly-horizontal id="basicSly2">
          <ul class="row">
              <li ng-click="setPropertyType('apartment')" class="col col-33">
                <img ng-if="pricing.propertyType == 'apartment'" class="c-icon" src="icons/apartment_color.png" alt="">
                <img ng-if="pricing.propertyType != 'apartment'" class="c-icon" src="icons/apartment.png" alt="">
                <p>Apartment</p>
              </li>
              <li ng-click="setPropertyType('studio')" class="col col-33">
                <img ng-if="pricing.propertyType == 'studio'" class="c-icon" src="icons/studio_color.png" alt="">
                <img ng-if="pricing.propertyType != 'studio'" class="c-icon" src="icons/studio.png" alt="">
                <p>Studio</p>
              </li>
              <li ng-click="setPropertyType('villa')" class="col col-33">
                <img ng-if="pricing.propertyType == 'villa'" class="c-icon" src="icons/villa_color.png" alt="">
                <img ng-if="pricing.propertyType != 'villa'" class="c-icon" src="icons/villa.png" alt="">
                <p>Villa</p>
              </li>
              <li ng-click="setPropertyType('rowHouse')" class="col col-33">
                <img ng-if="pricing.propertyType == 'rowHouse'" class="c-icon" src="icons/rowHouse_color.png" alt="">
                <img ng-if="pricing.propertyType != 'rowHouse'" class="c-icon" src="icons/rowHouse.png" alt="">
                <p>Row House</p>
              </li>
              <li ng-click="setPropertyType('servicedApartment')" class="col col-33">
                <img ng-if="pricing.propertyType == 'servicedApartment'" class="c-icon" src="icons/servicedApartment_color.png" alt="">
                <img ng-if="pricing.propertyType != 'servicedApartment'" class="c-icon" src="icons/servicedApartment.png" alt="">
                <p>Serviced Apartment</p>
              </li>
          </ul>
        </div>
        <div class="controls">
          <button class="prevPage icon ion-ios-arrow-back"></button>
          <button class="nextPage icon ion-ios-arrow-forward"></button>
        </div>
      </div>
      <div ng-if="pricing.propertyBHKArray.length != 0" class="item with-header pricing">
        <span>BHK Options</span>
        <div class="frames" id="basicSly3">
          <ul class="row">
              <li 
                ng-repeat="item in pricing.propertyBHKArray track by $index" 
                sly-horizontal-repeat   
                class="col col-33"
                ng-click="setPropertyBHK(item)">
                <img ng-if="pricing.propertyBHK === item && item <= 4" class="c-icon" src="icons/{{item}}BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != item && item <= 4" class="c-icon" src="icons/{{item}}BHK.png" alt="">
                <img ng-if="pricing.propertyBHK === item && item > 4" class="c-icon" src="icons/4BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != item && item > 4" class="c-icon" src="icons/4BHK.png" alt="">
                <p>{{item}} BHK</p>
              </li>
              <!--<li ng-click="setPropertyBHK(1)" class="col col-33">
                <img ng-if="pricing.propertyBHK == '1'" class="c-icon" src="icons/1BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != '1'" class="c-icon" src="icons/1BHK.png" alt="">
                <p>1 BHK</p>
              </li>
              <li ng-click="setPropertyBHK(2)" class="col col-33">
                <img ng-if="pricing.propertyBHK == '2'" class="c-icon" src="icons/2BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != '2'" class="c-icon" src="icons/2BHK.png" alt="">
                <p>2 BHK</p>
              </li>
              <li ng-click="setPropertyBHK(3)" class="col col-33">
                <img ng-if="pricing.propertyBHK == '3'" class="c-icon" src="icons/3BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != '3'" class="c-icon" src="icons/3BHK.png" alt="">
                <p>3 BHK</p>
              </li>
              <li ng-click="setPropertyBHK(4)" class="col col-33">
                <img ng-if="pricing.propertyBHK == '4'" class="c-icon" src="icons/4BHK_color.png" alt="">
                <img ng-if="pricing.propertyBHK != '4'" class="c-icon" src="icons/4BHK.png" alt="">
                <p>4 BHK</p>
              </li>-->
          </ul>
        </div>
        <div class="controls">
          <button class="prevPage icon ion-ios-arrow-back"></button>
          <button class="nextPage icon ion-ios-arrow-forward"></button>
        </div>
      </div>
      <div ng-if="pricing.propertySizeArray.length != 0" class="item with-header pricing">
        <span>Size</span>
        <div class="frames" id="basicSly3">
          <ul class="row propertySize">
              <li 
                ng-repeat="item in pricing.propertySizeArray" 
                sly-horizontal-repeat   
                class="col col-33"
                ng-click="setPropertySize(item.superArea)">
                <p ng-class="pricing.propertySize == item.superArea ? 'active': ''">{{item.superArea}} sqft</p>
              </li>
          </ul>
        </div>
        <div class="controls">
          <button class="prevPage icon ion-ios-arrow-back"></button>
          <button class="nextPage icon ion-ios-arrow-forward"></button>
        </div>
      </div>
      <div ng-if="project.displayCost" class="item-divider below-tags">
        <div class="row">
            <div class="col col-33">
              <span class="badge badge-dark">Minimum</span>
              <span>Rs. {{project.displayCost[pricing.filter.buy ? 'buy': 'rent'].min | inrCurrencyFilter}}</span>
            </div>
            <div ng-hide="project.displayCost[pricing.filter.buy ? 'buy': 'rent'].avg === 0 || pricing.propertySize === 0 || pricing.propertySize === null" class="col col-33">
              <span class="badge badge-dark">Average</span>
              <span>Rs. {{(project.displayCost[pricing.filter.buy ? 'buy': 'rent'].avg * pricing.propertySize) | inrCurrencyFilter}}</span>
            </div>
            <div class="col col-33" ng-if="project.displayCost[pricing.filter.buy ? 'buy': 'rent'].avg === 0 || pricing.propertySize === 0 || pricing.propertySize === null"></div>
            <div class="col col-33">
              <span class="badge badge-dark">Maximum</span>
              <span>Rs. {{project.displayCost[pricing.filter.buy ? 'buy': 'rent'].max | inrCurrencyFilter}}</span>
            </div>
        </div>
      </div>
      <div ng-if="!pricing.projectFiltered.aggregator" class="item-divider c-item-divider"></div>
      <a href="" class="item with-header item-icon-left item-button-right interested">
        <i class="icon">
          <img class="c-icon" src="icons/interested_color.png" alt="">
        </i>
        <span>Interested</span>
        <button class="button button-balanced">Call Us</button>
      </a>
      <div ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres']" class="item-divider c-item-divider"></div>
      <a ng-href="filter.buy ? pricing.projectFiltered.aggregator.url.acresbuy : pricing.projectFiltered.aggregator.url.acresrent" ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres']" class="item pricing-vendor" href="">
        <img src="img/99acres.png" alt="">
        <div>
          <span ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres'][pBHKW].min">Rs {{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres'][pBHKW].min}}</span>
          <p ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres'][pBHKW].count">({{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent']['99acres'][pBHKW].count}} options)</p>
        </div>
      </a>
      <div ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor" class="item-divider c-item-divider"></div>
      <a ng-href="filter.buy ? pricing.projectFiltered.aggregator.url.commonbuy : pricing.projectFiltered.aggregator.url.commonrent" ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor" class="item pricing-vendor" href="">
        <img src="img/commonfloor1.jpg" alt="">
        <div>
          <span ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor[pBHKW].min">Rs {{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor[pBHKW].min}}</span>
          <p ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor[pBHKW].count">({{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].commonFloor[pBHKW].count}} options)</p>
        </div>
      </a>
      <div ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks" class="item-divider c-item-divider"></div>
      <a ng-href="filter.buy ? pricing.projectFiltered.aggregator.url.magicbuy : pricing.projectFiltered.aggregator.url.magicrent" ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks" class="item pricing-vendor" href="">
        <img src="img/magicbricks.JPG" alt="">
        <div>
          <span ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks[pBHKW].min">Rs {{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks[pBHKW].min}}</span>
          <p ng-if="pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks[pBHKW].count">({{pricing.projectFiltered.aggregator[filter.buy ? 'buy' : 'rent'].magicBricks[pBHKW].count}} options)</p>
        </div>
      </a>
      <div ng-if="pricing.projectFiltered.configuration" class="item-divider c-item-divider"></div>
      <div ng-if="pricing.projectFiltered.configuration" class="item with-header">
        Configuration
        <div ng-if="pricing.projectFiltered.configuration" class="row1 auto-line-change-fix">
          <div ng-if="pricing.projectFiltered.configuration.superArea" class="col1 col-33">
            <img class="c-icon-h" src="icons/superArea_color.png" alt="">
            <span>Super Area</span>
            <span>({{pricing.projectFiltered.configuration.superArea}} sqft)</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.carpetArea" class="col1 col-33">
            <img class="c-icon-h" src="icons/carpetArea_color.png" alt="">
            <span>Carpet Area</span>
            <span>({{pricing.projectFiltered.configuration.carpetArea}} sqft)</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.totalBalconies" class="col1 col-33">
            <img class="c-icon-h" src="icons/balcony_color.png" alt="">
            <span>Balconies</span>
            <span>({{pricing.projectFiltered.configuration.totalBalconies || 0}})</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.totalBedrooms" class="col1 col-33">
            <img class="c-icon-h" src="icons/bedroom_color.png" alt="">
            <span>Bedrooms</span>
            <span>({{pricing.projectFiltered.configuration.totalBedrooms || 0}})</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.totalWashrooms" class="col1 col-33">
            <img class="c-icon-h" src="icons/washroom_color.png" alt="">
            <span>Washrooms</span>
            <span>({{pricing.projectFiltered.configuration.totalWashrooms || 0}})</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.noOfParkingSpaces" class="col1 col-33">
            <img class="c-icon-h" src="icons/parkingSpaces_color.png" alt="">
            <span>Parking Spaces</span>
            <span>({{pricing.projectFiltered.configuration.noOfParkingSpaces || 0}})</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.hall" class="col1 col-33">
            <img class="c-icon-h" src="icons/hall_color.png" alt="">
            <span>Hall</span>
          </div>
        </div>
      </div>

      <div 
        ng-if="pricing.projectFiltered.configuration.studyRoom
               || pricing.projectFiltered.configuration.servantUtilityRoom
               || pricing.projectFiltered.configuration.pujaStoreRoom
               || pricing.projectFiltered.configuration.familyLounge"
        class="item-divider c-item-divider"></div>

      <div 
        ng-if="pricing.projectFiltered.configuration.studyRoom
               || pricing.projectFiltered.configuration.servantUtilityRoom
               || pricing.projectFiltered.configuration.pujaStoreRoom
               || pricing.projectFiltered.configuration.familyLounge"
        class="item with-header">
        Extras
        <div class="row1 auto-line-change-fix">
          <div ng-if="pricing.projectFiltered.configuration.studyRoom" class="col1 col-33">
            <!--<i class="icon ion-star"></i>-->
            <img class="c-icon-h" ng-src="icons/studyRoom_color.png" alt="">
            <span>Study Room</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.servantUtilityRoom" class="col1 col-33">
            <!--<i class="icon ion-star"></i>-->
            <img class="c-icon-h" ng-src="icons/servantRoom_color.png" alt="">
            <span>Servant Room</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.pujaStoreRoom" class="col1 col-33">
            <!--<i class="icon ion-star"></i>-->
            <img class="c-icon-h" src="icons/pujaRoom_color.png" alt="">
            <span>Puja Room</span>
          </div>
          <div ng-if="pricing.projectFiltered.configuration.familyLounge" class="col1 col-33">
            <!--<i class="icon ion-star"></i>-->
            <img class="c-icon-h" src="icons/familyLounge_color.png" alt="">
            <span>Family Lounge</span>
          </div>

        </div>
      </div>

      <div ng-if="project.units.specifications" class="item-divider c-item-divider"></div>

      <div ng-if="project.units.specifications" class="item with-header">
        Specifications
        <div ng-if="project.units.specifications" class="row1 auto-line-change-fix">
          <div ng-repeat="(key, value) in project.units.specifications" class="col1">
            <img class="c-icon" ng-src="icons/{{key}}_color.png" alt="">
            <span class="fix-white-space-wrap" style="display: block; font-size: 12px;">{{key | camelCaseToHuman}}</span>
            <span class="fix-white-space-wrap" style="display: block; font-size: 12px;" ng-if="value!=true">({{value | camelCaseToHuman}})</span>
          </div>
        </div>
      </div>
      <div ng-if="isCosting" class="item-divider c-item-divider"></div>
      <div ng-if="isCosting" class="header">
        <p>Charges</p>
      </div>
      <div ng-if="isCosting" class="item with-header">
        <div class="row left-align">
          <ul class="col">
              <li ng-if="project.costing.powerBackupChargesFixed"><span>Power Backup</span></li>
              <li ng-if="project.costing.maintenanceChargesFixed"><span>Maintenance</span></li>
              <li ng-if="project.costing.moveInCharges"><span>Move In</span></li>
              <li ng-if="project.costing.moveOutCharges"><span>Move Out</span></li>
              <li>
                <span
                  ng-if="project.costing.cookingChargeOneMeal || project.costing.cookingChargeTwoMeals">Cooking Charges</span>
                <ul>
                  <li ng-if="project.costing.cookingChargeOneMeal"><span>One Meal</span></li>
                  <li ng-if="project.costing.cookingChargeTwoMeals"><span>Two Meal</span></li>
                </ul>
              </li>
              <li>
                <span ng-if="project.costing.maid12Hours || project.costing.maid24Hours"">Maid Charges</span>
                <ul>
                  <li ng-if="project.costing.maid12Hours"><span>12 Hours</span></li>
                  <li ng-if="project.costing.maid24Hours"><span>24 Hours</span></li>
                </ul>
              </li>
          </ul>
          <ul class="col no-list">
              <li ng-if="project.costing.powerBackupChargesFixed"><p>Rs.{{ ng-if="project.costing.powerBackupChargesFixed"}}</p></li>
              <li ng-if="project.costing.maintenanceChargesFixed"><p>Rs.{{project.costing.maintenanceChargesFixed}}</p></li>
              <li ng-if="project.costing.moveInCharges"><p>Rs.{{project.costing.moveInCharges}}</p></li>
              <li ng-if="project.costing.moveOutCharges"><p>Rs.{{project.costing.moveOutCharges}}</p></li>
              <li>
                <p>&nbsp</p>
                <ul>
                  <li ng-if="project.costing.cookingChargeOneMeal"><p>Rs.{{project.costing.cookingChargeOneMeal}}</p></li>
                  <li ng-if="project.costing.cookingChargeTwoMeals"><p>Rs.{{project.costing.cookingChargeTwoMeals}}</p></li>
                </ul>
              </li>
              <li>
                <p>&nbsp</p>
                <ul>
                  <li ng-if="project.costing.maid12Hours"><p>Rs.{{project.costing.maid12Hours}}</p></li>
                  <li ng-if="project.costing.maid24Hours"><p>Rs.{{project.costing.maid24Hours}}</p></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
      <div class="item-divider c-item-divider"></div>
    </div>
  </ion-content>
</ion-view>