<ion-view class="projectDetails-view" view-title="Near Me">
  <data ng-include="'templates/project-details/header.html'"></data>
  <ion-content class="has-header project-details nearme-content">
    <div class="list">
       <div 
          class="item with-header"
          ng-if="!project.connectivity && !project.societyShops && !project.nearMe">
          No Items In This Page
       </div>
       <div ng-if="project.societyShops" class="item-divider c-item-divider"></div>
       <div ng-if="project.societyShops" class="header">
          <p>Society Shops</p>
       </div>
       <div ng-if="project.societyShops" class="item with-header">
          <div class="row1 auto-line-change-fix">
             <div 
                class="col1 col-33"
                ng-repeat="(key, value) in project.societyShops"
                ng-click="societyShops(key)">
                <img class="c-icon-h" ng-src="icons/{{key}}_color.png" alt="">
                <p style="font-size: 12px;">{{key | camelCaseToHuman}}</p>
             </div>
          </div>
       </div>
       <div ng-if="project.nearMe" class="item-divider c-item-divider"></div>
       <div ng-if="project.nearMe" class="header">
          <p>Near Me</p>
       </div>
       <div ng-if="project.nearMe" class="item with-header">
         <div class="row1 auto-line-change-fix">
           <div 
              class="col1 col-33"
              ng-repeat="(key, value) in project.nearMe"
              ng-click="nearMe(key)">
              <img ng-if="key != 'newspaperDelivery'" class="c-icon-h" ng-src="icons/{{key}}_color.png" alt="">
              <img ng-if="key === 'newspaperDelivery'" class="c-icon-h" ng-src="icons/newspaper_color.png" alt="">
              <p style="font-size: 12px;">{{key | camelCaseToHuman}}</p>
            </div>
         </div>
       </div>
       <div class="item-divider c-item-divider"></div>
    </div>
  </ion-content>
</ion-view>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="contact-details-modal">
    <ion-header-bar>
      <h1 class="title">Contact Details</h1>
      <div class="buttons">
        <button class="button button-primary" ng-click="closeModal()">Back</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list list-inset">
        <div ng-repeat="item in categoryInfo">
          <div class="item row">
            <div class="col col-20">
              <label>Name:</label>
              <label>Contact: </label>
            </div>
            <div class="col col-80">
              <span>{{item.name}}</span>
              <span>{{item.contact}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script> 