<ion-view  class="properties" cache-view="false">
<style>
.properties  .results{
   width:40% !important;
}

.overlay1{
       background: rgba(0,0,0,0.5);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay2{
       background: rgba(0,0,0,0.5);
    width: 100%;
    height: 40px;
    position: absolute;
    top: 160px;
    left: 0;
}
</style>
   <ion-header-bar class="bar bar-header ">
      <button class="icon ion-chevron-left button button-light" ng-click="goToHome()"></button>
      <div class="results">{{resultsfound}} result<span ng-class="resultsfound>1?'show':'hide'">s</span></div>
      <h1 class="title"></h1>
      <div class="buttons buttons-right header-item">
         <button class="button button-light" style="font-size:15px!important;">{{location}}</button>
      </div>
   </ion-header-bar>

   <ion-content>
      <ion-list>
         <ion-item ng-repeat="project in results | orderBy:sortType:sortReverse " ng-show="project.showInList" style="margin: 0px 0px -1px 0px;padding:0px;" ng-click="selectProject(project)">
            <div class="image">
               <div id="img-cont" >
                  
                  <img src="{{project.imageUrl}}" id="img1" style="display:inline-block; box-shadow: 0px 3px 5px 0px rgba(66,66,66,0.3)">
                  <div class="overlay2"></div>
                  <div class="overlay1"></div>
               </div>
               <span class="project-name"> <strong>{{project.projectName}}, {{project.landmark}}</strong></span>
               <h3>
                  <span ng-repeat="counter in starrating(project.rating) track by $index"><i class="icon ion-ios-star"></i> </span><span ng-repeat="counter in starrating(5-project.rating) track by $index"><i class="icon ion-ios-star-outline"></i></span> <span id="reviewNum" ng-class="{{project.reviewNum}}?'show':'hide'">({{project.reviewNum}} review<span ng-class="project.reviewNum>1?'show':'hide'">s</span>)</span><br/>
               </h3>
               <div class="property-info" >
                  <div class="BHK">
                     <div class="row">
                        <div class="col col-50" style="text-align:left; " >
                           <p>{{project.bhk}}</p>
                        </div>
                        <div class="col col-10 col-offset-10" style="text-align:left;font-size:0.8em; ">
                           <strong ng-show="project.showBuyRange">Buy</strong> 
                        </div>
                        <div class="col col-20" style="text-align:left;font-size:0.8em; margin-right:2px;  ">
                           <div ng-show="project.showBuyRange"> {{project.rangeBuy}}</div>
                        </div>
                        <div class="col col-10"></div>
                     </div>
                     <div class="row" style="padding:0px 5px;">
                        <div class="col col-50"></div>
                        <div class="col col-10 col-offset-10" style="text-align:left;font-size:0.8em; ">
                           <strong ng-show="project.showRentRange">Rent</strong> 
                        </div>
                        <div class="col col-20" style="text-align:left;font-size:0.8em; margin-right:2px; ">
                           <div ng-show="project.showRentRange"> {{project.rangeRent}}</div>
                        </div>
                        <div class="col col-10"></div>
                     </div>
                  </div>
               </div>
            </div>
         </ion-item>
      </ion-list>
</ion-content>
</ion-view>

