<ion-view class="review" cache-view="false">
<style>
img{
transform: translateZ(0);
}
</style>
	<ion-header-bar class="bar-light" align-title="center">
		<button class="icon ion-chevron-left button button-light" ng-click="goBack()"></button>
		<h1 class="title" style="font-size:0.9em;">{{projectName}}, <span style="color:grey;">{{landmark}}</span></h1>
		<!-- <button class="button button-balanced" ng-click="popover.show($event)">View Forms</button> -->
	</ion-header-bar>
	<ion-content class="review-content has-header padding has-footer">
		<div class="review-params">
			<div class="questions">
				<p class="heading">You are</p>
				<div class="row" id="identity">
					<div class="col" ng-click="selectIdentity(item.id, $index)" ng-repeat="item in identities">
						<img ng-src="{{item.imgsrc}}" class="{{item.id}}"/>
						<p>{{item.name}}</p>
					</div>
				</div>
			</div>
			<div class="project-rating">
				<p class="heading">Project Rating</p>
				<ratings ratingsobj='ratingsObject'></ratings>
				<div class="showRating" ng-show="project.rating">Your rating:  <span class="comment">{{project.comment}}</span></div>
			</div>
			<div class="review-title">
				<p>Review Title</p>
				<label class="item item-input item-stacked-label">
					<input type="text" ng-model="project.reviewTitle">
				</label>
			</div>
			<div class="project-review">
				<p class="heading">Write a review</p>
				<label class="item item-input">
	            	<textarea rows="8" cols="50"  placeholder="Type here(Optional)" ng-model="project.review" required></textarea>
	            </label>
			</div>
			<div class="add-more-btn" ng-click="addMore()" ng-hide="showMoreParams">Add more information</div>
		</div>
		<div class="other-params" ng-show="showMoreParams">
			<div class="questions row">
				<div class="col col-75">
					<p>Is the project conveniently located:</p>
				</div>
				<div class="col" ng-click="selectConvenient('1')">
					<img ng-src="{{tick1}}" class="selection"/>
				</div>
				<div class="col" ng-click="selectConvenient('2')">
					<img ng-src="{{cross1}}" class="selection"/>
				</div>
			</div>
			<div class="questions row">
				<div class="col col-75">
					<p>Easy access to public transport:</p>
				</div>
				<div class="col" ng-click="transport('1')">
					<img ng-src="{{tick2}}" class="selection"/>
				</div>
				<div class="col" ng-click="transport('2')">
					<img ng-src="{{cross2}}" class="selection"/>
				</div>
			</div>
			<div class="questions">
				<div class="row">
					<p>Do you have following close by:</p>
				</div>
				<div class="row" id="closeby">
					<div class="col" ng-click="selectCloseby(item.id, $index)" ng-repeat="item in closeBy">
						<img ng-src="{{item.imgsrc}}" class="{{item.id}}"/>
						<p>{{item.name}}</p>
					</div>
				</div>
			</div>
			<div class="questions">
				<div class="row">
					<p>Would you recommend this for:</p>
				</div>
				<div class="row" id="closeby">
					<div class="col" ng-click="selectRecommendedFor(item.id, $index)" ng-repeat="item in recommend">
						<img ng-src="{{item.imgsrc}}" class="{{item.id}} recommendations"/>
						<p>{{item.name}}</p>
					</div>
				</div>
			</div>
			<div class="questions">
				<div class="row">
					<p>How would you rate the following:</p>
				</div>
				<div class="security">
					<p>Security</p>
		            <ionic-ratings ratingsobj='ratingsObject1'></ionic-ratings>
		            <div class="showRating" ng-show="security.rating">Your rating:  <span class="comment">{{security.comment}}</span></div>
		        </div>
			</div>
			<div class="questions cns">
				<p>Clubhouse/ Sports Activities</p>
	            <ionic-ratings ratingsobj='ratingsObject2'></ionic-ratings>
	            <div class="showRating" ng-show="cns.rating">Your rating:  <span class="comment">{{cns.comment}}</span></div>
			</div>
			<div class="questions oga">
				<p>Open and Green Areas</p>
	            <ionic-ratings ratingsobj='ratingsObject3'></ionic-ratings>
	            <div class="showRating" ng-show="oga.rating">Your rating:  <span class="comment">{{oga.comment}}</span></div>
			</div>
			<div class="questions cqm">
				<p>Construction quality and maintenance</p>
	            <ionic-ratings ratingsobj='ratingsObject4'></ionic-ratings>
	            <div class="showRating" ng-show="cqm.rating">Your rating:  <span class="comment">{{cqm.comment}}</span></div>
			</div>
			<div class="questions ssc">
				<p>Shops and services within the community</p>
	            <ionic-ratings ratingsobj='ratingsObject5'></ionic-ratings>
	            <div class="showRating" ng-show="ssc.rating">Your rating:  <span class="comment">{{ssc.comment}}</span></div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="submitReview()">
	  <h1 class="title">Submit</h1>
	</ion-footer-bar>
</ion-view>