<ion-view class="locality-review" cache-view="true">
<style>
img{
transform: translateZ(0);
}
</style>
	<ion-header-bar class="bar-light" align-title="center">
		<button class="icon ion-chevron-left button button-light" ng-click="goBack()"></button>
	</ion-header-bar>
	<ion-content class="locality-review-content has-header padding has-footer">
		<div class="review-params">
			<div class="display-style customerInfo">
				<p  id="row-title">Customer Name</p>
				<label class="item item-input item-stacked-label">
					<input type="text" ng-model="review.customerName">
				</label>
			</div>
			<div class="display-style customerInfo">
				<p  id="row-title">Mobile Number</p>
				<label class="item item-input item-stacked-label">
					<input type="number" ng-model="review.mobileNumber">
				</label>
			</div>
			<div class="display-style customerInfo">
				<p  id="row-title">Email</p>
				<label class="item item-input item-stacked-label">
					<input type="email" ng-model="review.email">
				</label>
			</div>
			<div class="display-style">
				<p  id="row-title">Overall Rating</p>
				<div class="row">
					<div class="col col-75">
		            	<ionic-ratings ratingsobj='ratingsObject1'></ionic-ratings>
		            </div>
		            <div class="col col-25" id="comments">
		            	{{mainComment}}
					</div>
				</div>
			</div>
			<div class="review-title display-style">
				<p id="row-title">Review Title</p>
				<label class="item item-input item-stacked-label">
					<input type="text" ng-model="review.reviewTitle">
				</label>
			</div>
			<div class="project-review display-style">
				<p id="row-title">Write a review</p>
				<label class="item item-input">
	            	<textarea rows="8" cols="50"  placeholder="Type here(Optional)" ng-model="review.review" required></textarea>
	            </label>
			</div>

			<div class="display-style">
				<p id="row-title">Do you have following close by:</p>
				<div class="row" id="closeby">
					<div class="col" ng-click="selectCloseby(item.id, $index)" ng-repeat="item in closeBy">
						<img ng-src="{{item.imgsrc}}" class="{{item.id}}"/>
						<p>{{item.name}}</p>
					</div>
				</div>
			</div>

			<div class="display-style">
				<div class="row">
					<p id="row-title">How would you rate the following?</p>
				</div>
				<div class="ratings">
					<p id="rating-title">Security</p>
					<div class="row">
						<div class="col col-75">
			            	<ionic-ratings ratingsobj='ratingsObject2'></ionic-ratings>
			            </div>
			            <div class="col col-25" id="comments">
			            	{{security.comment}}
						</div>
					</div>
				</div>
				<div class="ratings">
					<p id="rating-title">Infrastructure</p>
					<div class="row">
						<div class="col col-75">
			            	<ionic-ratings ratingsobj='ratingsObject3'></ionic-ratings>
			            </div>
			            <div class="col col-25" id="comments">
			            	{{infrastructure.comment}}
						</div>
					</div>
				</div>
				<div class="ratings">
					<p id="rating-title">Parks, Open and Green Areas</p>
					<div class="row">
						<div class="col col-75">
			            	<ionic-ratings ratingsobj='ratingsObject4'></ionic-ratings>
			            </div>
			            <div class="col col-25" id="comments">
			            	{{parksOpenandGreenAreas.comment}}
						</div>
					</div>
				</div>
				<div class="ratings">
					<p id="rating-title">Electricity and Water Supply</p>
					<div class="row">
						<div class="col col-75">
			            	<ionic-ratings ratingsobj='ratingsObject5'></ionic-ratings>
			            </div>
			            <div class="col col-25" id="comments">
			            	{{electricityandWaterSupply.comment}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-dark" ng-click="submitReview()">
	  <h1 class="title">Submit</h1>
	</ion-footer-bar>
</ion-view>