#loginform{
	background: url("../../img/auth/background.jpg");
	background-size: cover;
}
#loginform #formdetails{
	margin-top: 25%;
	margin-left: 7%;
	margin-right: 7%;
}

#loginform #bluecolor{
	color:#1DAED0;
}
.bluecolor{
	background-color: #1DAED0;
	color: #fff;
}

#loginform #bluebgcolor{
	background-color:#1DAED0;
	margin-top:35px;
	color:#fff;
}

#loginform #formdetails #forgotpassword{
	text-align:center;
	padding:0 5px;
	font-size: 0.9em;

}

#loginform #askforaccount {
	font-size: 0.95em;
	margin-top: 10px;
	padding:10px 0;
	text-align: center;
}

#loginform #askforaccount a, #loginform #forgotpassword a {
	text-decoration: underline;
}

#loginform .login-roofpik{
	margin-left: 10px !important;
	padding-right: 5px !important;
}


#loginform #forgotpassword{
	margin:20px 0 0;
	padding:10px 0;
}

#loginform #formdetails .item-input{
	padding:4px 0 4px 16px !important;
}

#loginform #formdetails .button{
	min-height: 40px !important;
}

