/*Review*/


.review .other-params{
  background-color:#F5F7F7;
  padding-left: 3%;
}

.review .questions {
  color:#333333;
  font-size:1.2em;
  border-bottom:1px solid #18AFD1;
  margin-bottom: 20px;
}

.review .selection {
  width:1.5em;
}

.review .selection1{
  /*width:3.5em;*/
}

.review #closeby p{
    font-size: 0.8em;
    text-align: center;
}

.review #closeby {
  margin-top:5px;
}

.review #closeby .col{
  text-align:center;
}

.review .school{
  width:50px;
}

.review .market{
  width:50px;
}

.review .hospital{
  width:50px;
}
/*
.review .kids {
  width:40px;
}

.review .pets {
  width:40px;
}
.review .singles,.review .elders{
  width:40px}
.review .family {
  width:40px;
}
*/

.review .kids, .review .pets, .review .singles, .review .elders, .review .family{
    width: 32px;
    height: 48px;
}

.review .ratingBlock div {
  display: inline-block;
}

.review  .rating {
  padding-right: 10px;
}

.review .cns, .review .oga, .review .cqm, .review .ssc{
  padding:10px;
  color:#000;
  height:120px;
  font-size:1em;
}

.review .security{
  padding:10px;
  color:#000;
  height:120px;
  font-size:1em;
}

.review .comment{
  color:#18AFD1;
}

.review .showRating{
    text-align: center;
    margin-top:10px;
}


.review .review-content{
  background-color:#F5F7F7;
}

.review .review-content .review-params{
  background-color:#F5F7F7;
}

.review .questions, .review .project-rating, .project-review {
  color:#333333;
  font-size:1em;
  margin-bottom: 30px;
}

.review #identity p{
  font-size:0.8em;
}

.review #identity .col{
  text-align:center;
}

.review .resident {
  width:50px;
}

.review .nonResident{
  width:50px;
}

.review .project-review label{
    height: 120px;
    border: 1px solid #18AFD1;
    border-radius: 3px;
    width: 94%;
    margin: 0 auto;
}

.review .project-review textarea{
  margin-top:30px;
}

.review .add-more-btn {
    margin: 41px auto 0 auto;
    background-color: #f26551;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    width: 94%;
}

.review .heading {
  margin-left:3%;
}

.review .review-title {
  width: 94%;
  margin: 0 auto 10px auto;
}

.review .review-title label {
  padding:0px;
  border: 1px solid #18AFD1;
}

.review .review-title label input {
  padding: 0 5px;
}


