<ion-view cache-view="false">
   <ion-header-bar class="bar-dark" align-title="center">
      <a class="button icon ion-chevron-left button-dark" ng-click="myGoBack()"></a>
      <h1 class="title">BeeSocial</h1>
   </ion-header-bar>
<ion-content class="pane1">
</ion-content>
<style type="text/css">
.pane1{
background:url('img/app/beesocial_comingsoon.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
</style>
</ion-view>
