<ion-view class="privacy-policy">
   <ion-header-bar class="bar-dark" align-title="center">
      <a class="button icon ion-chevron-left button-dark" ng-click="myGoBack()"></a>
      <h1 class="title">Privacy Policy</h1>
   </ion-header-bar>
   <ion-content style="background-color:#f2f2f2;text-align: justify;text-justify: inter-word;">
   	<div class="card padding">
   		<p>We value your relationship with One Pluto Technologies, and we are concerned about our customers’ information privacy. Please read the following statements to understand our information gathering and dissemination policies. Note: Our privacy policy is subject to change at any time, so please keep reviewing it periodically to stay updated.</p>

   		<h5>1. ACCOUNT CREATION</h5>
   		<p>You need to create an account on the Website to access and use some sections on the Website/app that are restricted only to registered users.</p>
   		<p>To create an account we need your email address, which could then be used to login to the Website/app.</p>
   		<p>You have to accept the Usage Terms before creating an account on Website/app.</p>
   		<p>You are solely liable for maintaining the confidentiality of the user account details at all times.</p>

   		</br>

   		<h5>2. YOUR PERSONAL/OTHER INFORMATION</h5>
   		<p>When you create a Roofpik account, we ask for some personal information, including your email address and a password, which is used to protect your account from unauthorized access.</p>
   		<p>To provide you with access to the appropriate Network, we will require you to provide the name and contact information described above, and may also request that you update or verify this information from time to time. By using the Site, you agree to provide accurate information, and to cooperate with any Roofpik personnel/Your Apartment Management Committee to ensure accuracy.</p>
   		<p>When you send messages through Roofpik, we collect and maintain information associated with those messages, including email addresses and content.</p>
   		<p>When you send and receive SMS messages to or from the Roofpik website/app, we collect and maintain information associated with those messages, such as the phone number, the wireless carrier associated with the phone number, the content of the message, and the date and time of the transaction, for logging purposes.</p>

   		</br>

   		<h5>3. HOW WE USE YOUR PERSONAL INFORMATION</h5>
   		<p>We take the privacy of our users very seriously.</p>
   		<p>We use the information provided by you on the Website/app to provide our services.</p>
   		<p>We will never sell, rent, or share your personally identifiable information to any third parties for marketing purposes. Roofpik will have a right to use this information for its business purposes by itself or with its business associates.</p>
   		<p>Roofpik will have a right to use the information to provide personalized advertisements and offers, or to include that information in compilations developed by Roofpik, or to develop derivative works based on that information.</p>
   		<p>You agree that Roofpik may use personal information about you to improve its marketing and promotional efforts, to analyze site usage, improve the Site's content and product offerings and for its business purposes.</p>

   		</br>

   		<h5>4. INFORMATION COLLECTED BY THIRD PARTY SITES/APPS</h5>
   		<p>The Website/app may contain links to other sites whose information practices may be different than ours. You should consult the other sites' privacy notices as we have no control over information that is submitted to, or collected by, these third parties.</p>
   		</br>

   		<h5>5. E-MAILS AND OPT-OUT</h5>
   		<p>You may opt-out of receiving notifications from us by sending us an email at contact@roofpik.com and asking to “Unsubscribe”. Unregistered users who receive e-mails from us may also opt-out of receiving further e-mails by following the instructions contained in our e-mails.</p>

   		</br>

   		<h5>6. SECURITY</h5>
   		<p>Your account is password protected. We use industry standard measures to protect the personal information that is stored in our database. We limit the access to your personal information to those employees and contractors who need access to perform their job function, such as our customer service personnel. If you have any questions about the security on Website/app, please contact us. Although we take appropriate measures to safeguard against unauthorized disclosures of information, we cannot assure you that your personal information will never be disclosed in a manner that is inconsistent with this Privacy Policy.</p>
   		<p>You hereby acknowledge that Website is not responsible for any intercepted information sent via the internet, and you hereby release us from any and all claims arising out of or related to the use of intercepted information in any unauthorized manner.</p>
   		<p>Website/app/Roofpik will not be responsible for any loss of data / information resulting due to unauthorized access to Website's/app’s servers.</p>

   		</br>

   		<h5>7. GET IN TOUCH WITH US</h5>
   		<p>You can send us an email at contact@roofpik.com or write to us at 250, Vipul Trade Center, Sohna Road, Sector-48, Gurgaon-122018, Haryana, India.</p>
   	</div>
   </ion-content>
</ion-view>