.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  height:auto;
  width:90%;

  margin: auto;
  overflow: auto;
  position: fixed;
  left: 5%;
  top: 20%;
}
.slider {
  width: 100%;
  height: 100%;
}


/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}