/* Pricing */
.reviews-content .list > .item.pricing > .row {
  margin-bottom: 15px;
  margin-left: -10px;
}
.reviews-content .list > .item.pricing > .row > button.icon {
  position: relative;
  top: 5px;
  height: 50px;
  width: 50px;
  background: transparent;
  border-color: transparent;
  color: #F26551;
  font-size: 25px;
  font-weight: bold;
  /*border-radius: 50%; */
  z-index: 100;
}
.reviews-content .list > .item.pricing > .row > button.icon:first-child {
  left: -10px;
}
.reviews-content .list > .item.pricing > .row > button.icon:last-child {
  right: 30px;
}

.reviews-content .list > .item.pricing > .row > .col {
  position: relative;
  left: -30px;
}

.reviews-content .list > .item.pricing > .row > .col > span {
  white-space: normal;
}

.reviews-content .list > .item.pricing > .row > button.ion-ios-arrow-back {
  left: -10px;
}

.reviews-content .list > .item.pricing > .row > button.ion-ios-arrow-forward {
  right: -6px;
}

.reviews-content .list > .item.pricing > .row > button.icon.empty {
  color: lightgrey;
}

/* Pricing Buy Rent Toggle */

.reviews-content .list > .item.pricing > .buy-rent-toggle {
  text-align: center;
}

.reviews-content .list > .item.pricing > .buy-rent-toggle > .block {
  margin: auto;
}

.reviews-content .list > .item.pricing > .buy-rent-toggle > .block > span {
  vertical-align: middle;
  padding: 0 10px;
}


/* Pricing Size Tags Slider */

.reviews-content .list > .item.pricing > .row.pricing-size > button:first-child {
  left: -25px;
}

.reviews-content .list > .item.pricing > .row.pricing-size > button:last-child {
  right: 45px;
}

.reviews-content .list > .item.pricing > .row.pricing-size {
  margin-left: 5px;
}

.reviews-content .list > .item.pricing > .row.pricing-size > div > span{
  background-color: grey;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px;
  margin-top: 10px;
}

/* Below Pricing */

.reviews-content .list > .below-tags > .row > .col {
   text-align: center;
}

.reviews-content .list > .below-tags > .row > .col > span {
   display: block;
   background-color: white;
}

.reviews-content .list > .below-tags > .row > .col > .badge {
   border-radius: 5px;
   text-align: center;
   background-color: #444;
}

/* Tag */
.reviews-content .list > .item-divider > .row.tag > .col {
   text-align: center;
}

.reviews-content .list > .item-divider > .row.tag > .col > div {
   background-color: white;
   border-radius: 5px;
}

.reviews-content .list > .item-divider > .row.tag > .col > div > p {
   background-color: black;
   color: white;
   border-radius: 5px;
   padding: 5px 0;
   font-size: 15px;
}

.reviews-content .list > .item-divider > .row.tag > .col > div > span {
   font-size: 15px;
}



.reviews-content .list > .item > .row > ul > li {
   list-style: disc;
   color: #F26551;
   text-align: left;
}

.reviews-content .list > .item > .row > ul > li > span {
   color: black;
   font-size: 15px;
}

.reviews-content .list > .item > .row > ul > li > p {
   text-align: right;
}

.reviews-content .list > .item > .row > ul > li > ul > li {
   list-style: inside;
   color: #F26551;
}

.reviews-content .list > .item > .row > ul > li > ul > li > span {
   color: black;
   font-size: 15px;
}

.reviews-content .list > .item > .row > ul > li > ul > li > p {
   text-align: right;
}

.reviews-content .list > .item > .row > ul.no-list > li > ul > li {
   list-style: none;
}

.reviews-content .list > .item.pricing-vendor > img {
   display: inline-block;
   height: 60px;
   max-width: 120px;
   border: 1px solid rgba(0,0,0,0.3);
   box-shadow: 1px 1px 5px 3px rgba(66,66,66,0.3);
   border-radius: 5px;
}

.reviews-content .list > .item.pricing-vendor > div {
   position: absolute;
   right: 5px;
   top: 40%;
}

.reviews-content .list > .item.pricing-vendor > div > span {
   color: #1D607D;
   font-weight: bold;
   font-size: 20px;
}

.reviews-content .list > .item.pricing-vendor > div > p {
   display: inline;
   color: #2FA859;
   font-size: 15px;
}


/* Rating */

/*Fix For Rating Circle In Small Screens Like IPhone*/
@media(max-width: 400px) {
   .reviews-content .list > .item.rating-item {
      padding-left: 0;
      padding-right: 0;   
   }
}

.reviews-content .list > .item.rating-item i {
   letter-spacing: -5px;
}

.reviews-content .list > .item.rating-item > .row {
   margin-bottom: 1px;
}

.reviews-content .list > .item.rating-item i.ion-record {
   color: #F26551;
}

.reviews-content .list > .item.rating-item i.ion-ios-circle-outline {
   color: #18AFD1;
}

.reviews-content .list > .item.rating-item > .row > .col > i {
   font-size: 150%;
}

.reviews-content .list > .item.rating-item > .row > .col {
  text-align: left;
}

.reviews-content .list > .item.rating-item > .row > p{
   font-size: 20px;
   display: inline;
   position: relative;
   bottom: -7px;
}

.reviews-content .list > .item.rating-item > .rating-reviews {  
   position: absolute;
   right: 5px;
   top: -4px;
}

.reviews-content .list > .item.rating-item.small > .row {
   margin-left: 1px;
}

.reviews-content .list > .item.rating-item.small > .row > .col > span {
   font-size: 12px;
   text-align: left;
}

.reviews-content .list > .item.rating-item.small > .row > span {
   padding: 6px;
   position: absolute;
   right: 1px;
}

.reviews-content .list > .item.rating-item.small > .row > .col > i {
   font-size: 10px;
   letter-spacing: 1px;
}

/* Progress Bar */

.reviews-content .list > .item.close-by > .row > .col > .span {
   font-size: 15px;
}

@media(max-width: 400px) {
   .reviews-content .list > .item.progress-bar {
      padding-left: 0;
   }
}

.reviews-content .list > .item.progress-bar > .row > div:not(.progress) {
   padding-top: 12px;
}

/* Close By AND Recommended For */

.reviews-content .list > .item.progress-bar > .row {
   margin: 0;
   padding: 0;
}

.reviews-content .list > .item.progress-bar > .row > .col > span{
   text-align: left;
}

.reviews-content .list > .item.progress-bar > .row > .col:last-child > span{
   text-align: right;
}

/* Custom Fixes */

.fix-flex-and-padding {
   flex: 0;
   padding: 1px;
   display: inline;
}


/* Rings */

.reviews-content .list > .indexes-item > .row {
   margin-bottom: 50px;
}

/* Fixes The Indexes Rings For IPhone 5*/
@media(max-width: 320px) {
   .reviews-content .list > .indexes-item > .row {
      margin-left: -26px;
   }  
}

/* New Ring */

.reviews-content .list > .indexes-item > .row > .col{
   display: inline;
}

.reviews-content .list > .indexes-item > .row > .col > p{
   position: relative;
}

.reviews-content .list > .indexes-item > .row > .circle-block > span {
   position: relative;
   top: -63px;
   font-size: 15px !important;
   /*left: 33px;*/
   /*text-align: center;*/
}

@media(max-width: 420px) {
  .reviews-content .list > .indexes-item > .row > .circle-block > span {
    left: 10px; 
  }
}

.reviews-content .list > .indexes-item > .row > .caption-block > .row:first-child > p {
   position: absolute;
   top: 22%;
   left: 45%;
   text-align: left;
}

.reviews-content .list > .indexes-item > .row > .caption-block > .row:last-child > p {
   position: absolute;
   top: 60%;
   left: 45%;
   text-align: left;
}



/* End New Ring */

.reviews-content .list > .indexes-item {
   text-align: left;
}

.reviews-content .list > .indexes-item .ring {
   height: 100px;
   width: 100px;
   border: 5px solid;
   border-radius: 50%;
   text-align: center;
}

.reviews-content .list > .indexes-item .ring > span {
   position: relative;
   top: 35px;
}

.reviews-content .list > .indexes-item p {
   position: relative;
   top: 15px;
   left: 100px;
   min-width: 150px;
   white-space: normal;
}

.reviews-content .list > .indexes-item .row {
   margin-bottom: 15px;
}

.reviews-content .list > .pricing-review > .row > .col > * {
  text-align: left;
}

.reviews-content .list > .pricing-review > .row > .col > img.image-override {
  position: relative;
  max-height: 80px;
  max-width: 80px;
  /*left: 15px;*/
}

.reviews-content .list > .pricing-review > .row > .col > i {
   position: absolute;
   right: 5px;
   top: 5px;
   font-size: 12px;
}

.reviews-content .list > .pricing-review > .row > .col > p {
   text-overflow: ellipsis;
}

.reviews-content .list > .pricing-review > .row > .col > p.visible {
   white-space: normal;
}

.reviews-content .list > .pricing-review > .row > .col > div {
  margin-bottom: 15px;
}

.reviews-content .list > .pricing-review > .row > .col > div > a {
   text-decoration: none;
   color: #444;
   font-size: 10px;
   padding: 5px;
   border: 1px solid #d3d3d3;
   border-radius: 3px;
   position: absolute;
   right: 15px;
}

.reviews-content .list > .pricing-review > .row > .col > i {
   font-size: 12px !important;
   color: darkgrey !important;
}

.reviews-content .list > .item > .row > .col > i {
   font-size: 12px;
   color: #F26551;
}

.reviews-content .list > .item > .row > .col > img {
   font-size: 25px;
   color: #F26551;
}

.reviews-content .list > .item > .row > .col > span {
   display: block;
   font-size: 12px;
}

.reviews-content .list > .item > .row > .col > span > div {
   color: #F26551;
   font-size: 12px;
}